<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>ChatGPT账号购买/注册</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://shop.digitchoice.com" target="_blank"
    >
      Diu
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://xtxian.com" target="_blank"
    >
      AI工具导航站/教程/Prompt教程
    </a>
  </p>
</footer>
